--
-- PostgreSQL database dump
--

\restrict uJMiu59ZWkyzbzepJo1AfeP4rETnOv11M5pIb89h29hVdwNDHK5m9AYlLnYAMph

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.admin (id, email, password, user_name) FROM stdin;
649932ea-e6df-46cc-94ef-9870beee2423	admin@holiday.com	$2a$10$zBLZBBttq9QtSJgq6FtWxOTxMG5o.Pk6rcVyppoEagMZR9ayyUOZ6	admin
86eaa23b-af86-4721-9fc3-fd5fec3cd584	ruthumwizerwa@gmail.com	$2a$10$a6twbOx1.8nA69RnR62d0OfZ.j4DQ49EkKgFlWTrY0VsUuxVo5Za2	umwizerwa
\.


--
-- Data for Name: trip; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.trip (id, destination, price, title, description, discount_percent, duration_days) FROM stdin;
66099241-c9f9-4a6c-936c-2f7efefd96cc	Rwanda	500000	Nyugwe Forest 	Zipline.	10	2
1928e3e2-c70a-456c-909d-d50e3e759c67	Tanzania	10000000	Zanzibar 	beach	10	5
\.


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.booking (id, customer_name, email, phone, travel_date, trip, number_of_people, status, trip_id) FROM stdin;
b93fb544-eefa-4687-9a73-3f3d871e3b28	Iris Kayigamba	iriskay@gmail,com	+250788000000	2026-12-15 02:00:00	\N	2	PENDING	1928e3e2-c70a-456c-909d-d50e3e759c67
\.


--
-- Data for Name: itinerary_day; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.itinerary_day (id, day_number, description, title, trip_id) FROM stdin;
221346c3-999c-4caf-aadd-8a1f1367451d	2	Guided walk along the forest canopy.	Canopy Walk	1928e3e2-c70a-456c-909d-d50e3e759c67
8f8d0134-c1a1-4320-8001-96ba5f4131ff	2	Guided walk along the forest canopy.	Canopy Walk	1928e3e2-c70a-456c-909d-d50e3e759c67
4c3bb39c-500c-47da-a4ca-4eb9c44d89a4	2	Guided walk along the forest canopy.	Canopy Walk	1928e3e2-c70a-456c-909d-d50e3e759c67
cfb81fad-4e0f-424f-85cd-04b8f8af049b	1	Check in and evening briefing.	Arrival at Nyungwe	1928e3e2-c70a-456c-909d-d50e3e759c67
\.


--
-- Data for Name: testimonial; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.testimonial (id, customer_name, photo_url, quote, rating, source) FROM stdin;
1c821efe-d589-4b8b-8aee-23ca19b5d33d	Ruth Umwizerwa	https://example.com/Ruth.jpg	Best trip of my life.	4	Instagram
\.


--
-- Data for Name: trip_image; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.trip_image (id, image_cover, is_cover, trip_id) FROM stdin;
3f4c7d92-5ba6-468f-acd4-8e69681bf4f0	https://example.com/Nyungwe.jpg	t	1928e3e2-c70a-456c-909d-d50e3e759c67
\.


--
-- PostgreSQL database dump complete
--

\unrestrict uJMiu59ZWkyzbzepJo1AfeP4rETnOv11M5pIb89h29hVdwNDHK5m9AYlLnYAMph

